<h2>{{ 'Most enrolled courses'|t }}</h2>

{% if courses %}
	{% for course in courses %}
		<h4>
			{{ course.name }} - {{ course.count_enrolled }} {{ 'times enrolled'|t }}
		</h4>
	{% endfor %}
{% else %}
	<p>{{ 'No courses found.'|t }}</p>
{% endif %}
