<h2>{{ 'List of users'|t }}</h2>
{% if courses %}
	{% for user in users %}
		<h4>
			{{ user.names }} - {{ user.courses_count }} {{ 'enrolled courses.'|t }}
		</h4>
	{% endfor %}
{% else %}
	<p>{{ 'No courses found.'|t }}</p>
{% endif %}
