<div class="themes">
	<h3>Themes</h3>
	<ol class="themes-list">
		{% if themes %}
			{% for theme in themes %}
				<li class="theme-item">
					<div class="theme-header">
						<span class="theme-number">{{ loop.index }}.</span>
						<span class="theme-title">{{ theme.title }}</span>
						<button class="toggle-btn" aria-expanded="false" aria-controls="theme-content-{{ loop.index }}">+</button>
					</div>
					<div class="theme-body" id="theme-content-{{ loop.index }}">
						<p class="theme-description">{{ theme.description|raw }}</p>
						<strong>Resources</strong>
						{% if theme.resources and user_enrolled and theme.accessResources == true %}
							<ul class="theme-resources">
								{% for resource in theme.resources %}
									<li>
										<a href="{{ resource.fileUrl }}">{{ resource.fileName}}</a>
									</li>
								{% endfor %}
							</ul>
              <br>
						{% elseif not theme.resources %}
							<p>No resources available.</p>
						{% elseif not user_enrolled %}
							<p>You haven't access rights to the resources.</p>
						{% elseif accessResources == false %}
							<p>You can't access the resources because you haven't made the homework from the previous theme.</p>
						{% endif %}
            {% if user_enrolled and theme.homework %}
              <strong>Homework</strong>
							<p>{{theme.homework|raw}}</p>
            {% elseif not theme.homework and user_enrolled %}
              <strong>Homework</strong>
							<p>No homework yet.</p>
            {% endif %}
					</div>
				</li>
			{% endfor %}
		{% else %}
			<p>No themes found.</p>
		{% endif %}
	</ol>
</div>
